@media(max-width:1200px) and {
    min-width: none;
}

body {
    margin: auto;
}

h1 {
    text-align: center;
}

.paf {
    width: 400px;
    height: 200px;
    border: 2px solid black;
    background-color: #0000ff;
    float: left;

    margin: 10px;
}

.paf>p {
    position: relative;
    width: 200px;
    height: 50px;


}

.text {
    width: 250px;
    height: 50px;
    border: 2px solid black;
    background-color: aqua;
    float: right;


}

.paf2 {
    width: 400px;
    height: 200px;
    border: 2px solid black;
    background-color: #0000ff;
    float: left;

    margin: 10px;
}

s .paf2>p {
    position: relative;
    width: 200px;
    height: 50px;


}

.text2 {
    font-size: 20px;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    background-color: aqua;
    float: right;


}

.paf3 {
    width: 400px;
    height: 200px;
    border: 2px solid black;
    background-color: #0000ff;
    float: left;

    margin: 10px;
}

.paf3>p {
    position: relative;
    width: 200px;
    height: 50px;


}

.text3 {
    width: 250px;
    height: 50px;
    border: 2px solid black;
    background-color: aqua;
    float: right;
}